@import 'fonts';
@import 'variables';
@import 'button';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  font-family: Lato, sans-serif;
  color: $white;

  &.disable-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: 1202px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  position: relative;
}

h3 {
  font-size: $font-xl;
  line-height: 32px;
  font-weight: $bolder;
}

h2 {
  font-size: $font-xxl;
  line-height: $lh-xxl;
}

h1 {
  font-size: 48px;
  line-height: 58px;
  font-weight: $semi-bold;
}

// -- main-section --

.main-section {
  background: url("/src/assets/images/mainBackground.png") no-repeat center top;
  background-size: cover;
  height: 100vh;
  color: $black;

  &__container {
    padding-top: 100px;
  }

  &__content {
    padding-top: 103px;
    max-width: 780px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  &__title {
    text-transform: uppercase;

    span {
      color: $primary;
    }
  }

  &__subtitle {
    font-size: $font-l;
    line-height: $lh-l;

    & > p {
      margin-bottom: 10px;
      font-weight: $bold;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__button-group {
    max-width: 395px;
    display: flex;
    gap: 30px;
    font-size: $font-xs;
    line-height: 15px;

    & button {
      text-transform: uppercase;
    }
  }
}

// -- order-section --

.order-section {
  background-color: $black-light;
  background-image: url("/src/assets/images/orderBackground.webp");
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding-top: 121px;
    padding-bottom: 151px;
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__title {
    margin-bottom: 30px;
    text-transform: uppercase;

    span {
      color: $primary;
    }
  }

  &__subtitle {
    font-size: $font-m;
    line-height: $lh-m;
    color: $gray-1;
  }

  &__list {
    display: flex;
    gap: 30px;
    align-items: flex-start;

    & li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      flex: 1 1 0;
      &:last-child .order-section__ellipse::after {
        display: none;
      }

      & p {
        text-align: center;
      }
    }
  }

  &__ellipse {
    background-color: $primary;
    border: 5px solid $blue-dark;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      content: "";
      background: url("/src/assets/images/orderDotsGroup.webp") no-repeat;
      background-size: cover;
      width: 110px;
      height: 6px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 110px;
    }
  }

  &__order-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

}

.order-form {
  &__form-block {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
  }

  &__form-button {
    max-width: 370px;
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 970px;
  }

  h1 {
    font-size: $font-xxl;
    line-height: $lh-xxl;
  }

  h2 {
    font-size: $font-xl;
    line-height: $lh-xl;
  }

  h3 {
    font-size: $font-l;
    line-height: $lh-l;
  }
}

@media (max-width: 992px) {
  .container {
    width: 740px;
  }

  h1 {
    font-size: $font-xl;
    line-height: $lh-xl;
  }

  h2 {
    font-size: $font-l;
    line-height: $lh-l;
  }

  h3 {
    font-size: $font-m;
    line-height: $lh-m;
  }

  .order-form {
    &__form-block {
      flex-direction: column;
      align-items: stretch;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: calc(100vw - 32px);
  }

  h1 {
    font-size: $font-l;
    line-height: $lh-l;
  }

  h2 {
    font-size: $font-m;
    line-height: $lh-m;
  }

  h3 {
    font-size: $font-s;
    line-height: $lh-s;
  }

  p {
    font-size: $font-s;
    line-height: $lh-s;
  }

  .main-section {
    &__title {
      text-align: center;
    }
  }

  .order-section {
    &__list {
      flex-wrap: wrap;

      & li {

        & .order-section__ellipse::after {
          display: none;
        }
      }
    }

    &__title-container {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .main-section {
    height: auto;

    &__button-group {
      flex-direction: column;
      gap: 12px;
    }

    &__content {
      padding: 50px 0;
      gap: 50px;
    }

    &__subtitle {
      text-align: center;
    }

    &__button-group {
      width: 100%;
      margin: 0 auto;
    }
  }
}


@import 'inputs';
@import 'header';
@import 'footer';
