// -- colors --
$primary: #3E9CDC;
$secondary: #42A9ED;
$black: #000000;
$black-light: #272733;
$secondary-text: #2A2B30;
$white: #FFFFFF;
$border: #6F6D7B;
$blue-dark: #286690;
$gray-1: #BBBBBB;
$gray-2: #3D4050;
$gray-3: #C3C3C3;

// -- sizes --
$container-width: 1172px;
$header-height: 100px;

$font-xs: 13px;
$lh-xs: 16px;
$font-s: 16px;
$lh-s: 19px;
$font-m: 18px;
$lh-m: 21px;
$font-l: 20px;
$lh-l: 24px;
$font-xl: 28px;
$lh-xl: 33px;
$font-xxl: 36px;
$lh-xxl: 43px;

// -- Font weight --
$regular: 400;
$semi-bold: 600;
$bold: 700;
$bolder: 800;